# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Android
android/.gradle/
android/.kotlin/
android/local.properties

# Gradle
.gradle/

# IDE
.idea/
.vscode/
*.iml

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Temporary
*.log
*.tmp
.acside/

# OS
.DS_Store
Thumbs.db

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies

# Android generated build outputs
android/app/debug/
android/app/release/
android/key/upload-keystore.jks
android/key.properties
